<section class="aboutMe-block section-padding-top">
  <main class="aboutMe-block__main">
    <article class="aboutMe-block__content">
      <h1>About Me</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eum,
        in a nobis vitae repellendus soluta autem, ab temporibus hic et,
        cupiditate facere neque rerum deleniti voluptatem illo totam nesciunt!
        Debitis quidem, voluptatum voluptatibus assumenda cum quisquam tempore
        dignissimos ab voluptates in consequatur porro delectus eveniet
        <br /><br />
        repudiandae ad est commodi. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Asperiores eum, in a nobis vitae repellendus soluta
        autem, ab temporibus hic et, cupiditate facere neque rerum deleniti
        voluptatem illo totam nesciunt! Debitis quidem, voluptatum voluptatibus
        assumenda cum quisquam tempore dignissimos ab voluptates in consequatur
        porro delectus eveniet repudiandae ad est commodi.
      </p>
    </article>
    <figure>
      <img
        class="aboutMe-block__img"
        src="assets/pics/make_a_synthwave_cartoon_pic_out_of_it_thats_looks_same_as_the_picture_people_shpuld_be_able_to_reco_2213595643.png"
        alt="a picture of the author"
      />
    </figure>
  </main>
</section>
