<section class="aboutMe-block section-padding-top">
  <main class="aboutMe-block__main">
    <article class="aboutMe-block__content">
      <h1 data-aos="fade-right" class="abotMe__heading">About Me</h1>
      <p data-aos="fade-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eum,
        in a nobis vitae repellendus soluta autem, ab temporibus hic et,
        cupiditate facere neque rerum deleniti voluptatem illo totam nesciunt!
        Debitis quidem, voluptatum voluptatibus assumenda cum quisquam tempore
        dignissimos ab voluptates in consequatur porro delectus eveniet
        <br /><br />
        repudiandae ad est commodi. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Asperiores eum, in a nobis vitae repellendus soluta
        autem, ab temporibus hic et, cupiditate facere neque rerum deleniti
        voluptatem illo totam nesciunt! Debitis quidem, voluptatum voluptatibus
        assumenda cum quisquam tempore dignissimos ab voluptates in consequatur
        porro delectus eveniet repudiandae ad est commodi.
      </p>
    </article>
    <figure>
      <img
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="aboutMe-block__img"
        src="assets/pics/make_a_synthwave_cartoon_pic_out_of_it_thats_looks_same_as_the_picture_people_shpuld_be_able_to_reco_2213595643.png"
        alt="a picture of the author"
      />
    </figure>
  </main>
</section>
<section data-aos="zoom-out" class="projects section-padding-top">
  <h2 class="projects__heading">Projects</h2>
  <ul class="projects__list">
    <li class="projects__list-items">Zvonify</li>
    <li class="projects__list-items">Static Online Shop</li>
    <li class="projects__list-items">Js-Project Amazon Shop</li>
    <li class="projects__list-items">Angular Recipe App</li>
    <li class="projects__list-items">Website for Friend</li>
  </ul>
</section>
<section class="skills section-padding-top">
  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    Placeholder row of Icons
  </p>
</section>
<footer>
  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    Made with Love from Munich
  </p>
</footer>
